body {
    color: white !important;
    text-align: justify;
}

#interface {
    width: 1000px;
    background-color: rgb(29, 29, 29);
    margin: -10px 125px;
}



/* Aqui começa o estilo do cabecalho da página */

#cabecalho {
    border-bottom: 1px dashed white;
}

#cabecalho h1 {
    font: 26pt normal Arial, sans-serif;
    padding: 0px;
    margin-bottom: 0px;
    width: 500px;
    text-align: center;
}

#cabecalho h2 {
    font: 20pt normal Arial, sans-serif;
    padding: 0px;
    margin-top: -15px;
    width: 500px;
    text-align: center;
}

#icone {
    display: block;
    float: left;
    margin-left: 500px;
}

/* Aqui começa o menu do site */

#menu {
    margin-left: 580px;
    margin-top: -30px;
}

#menu ul {
    padding: 0px;
}

#menu ul li {
    display: block;
    float: left;
    width: 80px;
    height: 30px;
    padding: 5px;
    background-color: rgb(48, 48, 48);
    text-align: center;
    line-height: 30px;
    margin: 2px;
}

#menu ul ul {
    display: none;
}

#menu ul ul li {
    margin: -5px;
}

#menu ul li:hover > ul{
    display: block;
}

#menu ul li a {
    text-decoration: none;
    color: white;
}

#menu ul li a:hover {
    text-decoration: underline;
}

/* Aqui termina o menu do site */

/* Aqui termina o estilo do cabecalho da página */