body {
    color: white;
    text-align: justify;
    font-family: Arial, sans-serif;
}

#interface {
    width: 1000px;
    background-color: rgb(29, 29, 29);
    margin: -10px 125px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

/* Aqui começa o estilo do cabecalho da página */

#cabecalho {
    border-bottom: 1px dashed white;
}

#cabecalho h1 {
    font: 26pt Arial, sans-serif;
    padding: 0px;
    margin-bottom: 0px;
    width: 500px;
    text-align: center;
}

#cabecalho h2 {
    font: 20pt normal Arial, sans-serif;
    padding: 0px;
    margin-top: -15px;
    width: 500px;
    text-align: center;
}

#icone {
    display: block;
    float: right;
}

/* Aqui começa o menu do site */

#menu {
    margin-left: 580px;
    margin-top: -30px;
}

#menu li:hover {
    transition: 0.5s;
    background-color: rgb(73, 72, 72);
}

#menu ul {
    padding: 0px;
}

#menu ul li {
    display: block;
    float: left;
    width: 80px;
    height: 30px;
    padding: 5px;
    background-color: rgb(48, 48, 48);
    text-align: center;
    line-height: 30px;
    margin: 2px;
}

#menu ul ul {
    display: none;
}

#menu ul ul li {
    margin: -5px;
    margin-top: 5px;
}

#menu ul li:hover > ul{
    display: block;
}

#menu ul li a {
    text-decoration: none;
    color: white;
}

#menu ul li a:hover {
    text-decoration: underline;
}

/* Aqui termina o menu do site */

/* Aqui termina o estilo do cabecalho da página */

/* Aqui começa o corpo do site */
#corpo {
    width: 900px;
    margin: auto;
}

#corpo h1{
    background-color: rgb(48, 47, 47);
    width: 580px;
}

.direita h1 {
    width: 900px !important;
}

#corpo p {
    text-indent: 50px;
    text-align: justify;
}

.esquerda {
    display: inline-block;
}

.esquerda img {
    float: right;
    margin: 15px 0px 0px 20px;
}

.direita {
    display: inline-block;
}

.direita img {
    float: left;
    margin: 20px 20px 0px 0px;
}

/* Aqui termina o corpo do site */